<h1>
    Browser
    <button (click)="higher(kram[0])">
		    <ion-icon name="arrow-back">zurück</ion-icon>
    </button>
    <button (click)="switchView()">
        <ion-icon name="ion-log-out">Ansicht Ändern</ion-icon>
    </button>

</h1>

<content>
  <ion-searchbar
    *ngIf="viewByOrg"
    [(ngModel)]="searchBar"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="startSearch($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
    <!--Creating a new List -->
    <ion-list no-lines>
        <ion-item-sliding *ngFor="let item of kram; let i=index">
            <ion-item>
                <!-- Item with Avatar/Icon-->
                <button (click)="deeper(item)">
				<ion-icon name="paper" item-left *ngIf="item.Document == undefined"></ion-icon>
                <ion-icon name="document" item-left *ngIf="item.Document != undefined"></ion-icon>
                <p>{{item.Properties.Aktenzeichen}}{{item.Properties.Zeichen}}</p>
                <h3>
                    {{item.Properties.Aktenbetreff}}{{item.Properties.Bezeichnung}}
                </h3>
				</button>
            </ion-item>
            <!-- Options for Items in this part-->
            <ion-item-options side="left">
                <div class="action">
                    <ion-icon name="create"></ion-icon>
                    Bearbeiten
                </div>
                <div class="action" id="favorite{{i}}">
                    <button (click)="favorite(item, i)">
					<ion-icon name="star" item-left *ngIf="fav.checkFav(item)"></ion-icon>
					<ion-icon name="star-outline" item-left *ngIf="!fav.checkFav(item)"></ion-icon>
                    </button> Favorit
                </div>
                <div class="action">
                    <button (click)="meta(item)">
                    <ion-icon name="document"></ion-icon>
                    </button> Öffnen
                </div>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</content>
