*,
*:after,
*:before,
.input-wrapper {
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

page-browser {
    .superTitle,
    .superTitle * {
        font-size: 5rem;
    }
}

h1 {
    background-color: $background-color;
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 70px;
    margin-top: 0px;
    line-height: 70px;
    font-size: 30px;
    padding-left: 10px;
    color: color($colors, primary);
}

h1 * {
    line-height: 50px;
    vertical-align: top;
}

h2 {
    color: color($buttonColor, first);
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    padding: 0px 10px;
    margin: 0px;
}

content {
    background-color: $background-color;
    position: absolute;
    top: 0px;
    bottom: 70px;
    left: 0px;
    right: 0px;
    overflow-y: scroll;
    color: color($colors, primary);
}

h1~content {
    top: 70px;
}

@keyframes tabTrans {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

ion-tab {
    z-index: -1;
    transform: translateX(-50px);
    opacity: 0;
    transition: all .25s ease;
}

ion-tab.show-tab {
    z-index: 1;
    transform: translateX(0px);
    opacity: 1;
    transition: all .0s ease;
    animation: tabTrans .25s .5s ease backwards;
}

ion-item,
ion-item * {
    background-color: $background-color;
    padding: 0px 5px;
    height: 50px;
    color: color($colors, primary);
}

.item-md {
    padding-left: 10px;
    padding-right: 10px;
    clear: both;
}

.item-md ion-icon[item-left],
.item-md ion-icon[item-right] {
    margin: 0px;
    margin-right: 10px;
    text-align: left;
    width: auto;
}

.item>ion-icon:first-child,
.item-inner>ion-icon:first-child {
    min-width: 0px;
}

ion-item h3,
ion-item p,
.item-md h3,
.item-md p {
    display: block;
    line-height: 30px;
    height: 50px;
    font-size: 15px;
    vertical-align: top;
    color: color($buttonColor, first);
    margin: 0;
}

ion-item p,
.item-md p {
    height: 30px;
    padding: 0px 10px;
    float: right;
    background-color: color($buttonColor, first);
    color: $background-color;
    opacity: 1;
    margin: 10px;
    margin-right: 0px;
    max-width: 300px;
    font-weight: bold;
}

ion-item h3,
.item-md h3 {
    padding: 10px 0px;
    color: color($colors, primary);
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-item h3:after,
.item-md h3:after {
    content: "";
    clear: both;
}

ion-item ion-icon,
h1 ion-icon {
    height: 50px;
    width: 50px;
    margin: 10px 0px;
    padding: 10px 0px;
    line-height: 30px;
}

p.noData {
    position: fixed;
    top: 50%;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 0px 10px;
}

h1 ion-icon {
    vertical-align: top;
    background-color: $text-color;
    color: $background-color;
}

ion-item ion-icon {
    display: block;
    float: left;
}

ion-item ion-icon:before,
h1 ion-icon:before,
ion-icon.icon-md:before {
    vertical-align: top;
    font-size: 20px;
    line-height: 30px;
}

.action {
    display: inline-block;
    position: relative;
    padding: 5px;
    padding-top: 20px;
    height: 50px;
    min-width: 50px;
    line-height: 20px;
    background-color: color($buttonColor, first);
    font-size: 0px;
    line-height: 30px;
    text-align: center;
    color: color($colors, negType);
}

.action ion-icon {
    position: absolute;
    top: 0px;
    font-size: 20px;
    padding-top: 10px;
    line-height: 30px;
    left: 0%;
    width: 100%;
}

.action button {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.action:nth-child(1) {
    background-color: color($buttonColor, first);
}

.action:nth-child(2) {
    background-color: color($buttonColor, second);
}

.action:nth-child(3) {
    background-color: color($buttonColor, third);
}

ion-item-options,
.action:nth-child(4) {
    background-color: color($buttonColor, fourth);
}


/* Resets */

.tabs-md .tabbar {
    background-color: $text-color;
    height: 70px;
}

.tabs-md .tab-button,
.tabs-md .tab-button:hover {
    color: $background-color;
}

.tabs-md .tab-button[aria-selected="true"],
.tabs-md .tab-button[aria-selected="true"]:hover {
    color: $text-color;
    background-color: $background-color;
    height: 70px;
}

.list-md>.item-block:first-child,
.list-md>.item-wrapper:first-child .item-block {
    border: none;
}

.list-md>.item-block:last-child,
.list-md>.item-wrapper:last-child .item-block {
    border: none;
}

.md ion-item .button-effect {
    display: none;
}

.item-md ion-icon[item-left]+.item-inner {
    margin-left: 0;
}

.item-md.item-block .item-inner {
    padding: 0;
}

.tabbar {
    opacity: 1;
}

.item-md .radio-md {
    position: relative;
}

ion-item button,
ion-item ion-label,
.label-md,
h1 button {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    text-overflow: unset;
    display: inline-block;
    font-size: 0;
}

ion-item button {
    width: 100%;
    text-align: left;
}

.searchbar-md {
    display: inline-block;
    width: calc(100% - 188px);
    padding: 0px;
    padding-top: 10px;
}

.searchbar-md .searchbar-input {
    box-shadow: none;
    border-radius: 0px;
    height: 50px;
}

.searchbar-md .searchbar-search-icon {
    top: 15px;
    left: 15px;
    height: 20px;
    width: 20px;
}

#SortOptions {
    display: none;
}

#SortOptions.visible {
    display: block;
}

@media screen and (orientation: landscape),
screen and (min-width: 768px) {}