<h1>
    Favoriten
</h1>

<content>
    <!--Creating a new List -->
    <ion-list no-lines>
        <ion-item-sliding *ngFor="let item of favList.getEntitys()">

            <ion-item *ngIf="!item.IsVirtual">
                <!-- Item with Avatar/Icon-->
                <button (click)="toBrowser(item)">
                  <ion-icon name="paper" item-left></ion-icon>
                  <h3>{{item.Properties.Aktentyp}}</h3>
                  <p>Aktenzeichen: {{item.Properties.Aktenzeichen}}</p>
                </button>
            </ion-item>
            <ion-item *ngIf="item.IsVirtual">
                <!-- Item with Avatar/Icon-->
                <button (click)="toBrowser(item)">
                  <ion-icon name="paper" item-left></ion-icon>
                  <h3>{{item.Properties.Bezeichnung}}</h3>
  				        <p>Aktenzeichen: {{item.Properties.Aktenzeichen}}
                  {{item.Properties.Zeichen}}</p>
                </button>
            </ion-item>

            <!-- Options for Items in this part-->
            <ion-item-options side="left">
                <div class="action">
                    <ion-icon name="create"></ion-icon>
                    Bearbeiten
                </div>
                <div class="action">
                    <ion-icon name="star"></ion-icon>
                    Favorit
                </div>
                <div class="action">
                    <ion-icon name="document"></ion-icon>
                    Öffnen
                </div>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
</content>
