<content>
    <!--Creating a new List -->
    <ion-list no-lines>
        <p *ngIf="listOfFav.length == 0"> Hier sind keine Daten enthalten</p>
        <ion-item-sliding *ngFor="let item of listOfFav">
            <ion-item>
                <!-- Item with Avatar/Icon-->
                <button (click)="toBrowser(item)">
                <ion-icon name="paper" item-left *ngIf="item.Document == undefined"></ion-icon>
                <ion-icon name="document" item-left *ngIf="item.Document != undefined"></ion-icon>
                <p>{{item.Properties.Aktenzeichen}}{{item.Properties.Zeichen}}</p>
                <h3>
                    {{item.Properties.Aktenbetreff}}{{item.Properties.Bezeichnung}}
                </h3>
                </button>
            </ion-item>
            <!-- Options for Items in this part-->
            <ion-item-options side="left">
                <div class="action">

                    <button (click)="rem(item)">
						<ion-icon name="star" item-left *ngIf="favList.checkFav(item)"></ion-icon>
                        <ion-icon name="star-outline" item-left *ngIf="!favList.checkFav(item)"></ion-icon>
					</button> Favorit
                </div>
                <div class="action">
                    <ion-icon name="document"></ion-icon>
                    Öffnen
                </div>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
</content>